html {
    overflow-y:scroll;
	overflow-x:scroll;
}

.nav {
	height: 50px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

#resnav {
	background-color: #D1F0FF;
}

#resnav ul {
	text-align: center;
}

.jumbotron {
  background-image:url('res/djcoverphoto.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.resumeIndExp {
background-color: #f7f7f7;
}

.resumeIndExp p {
position:absolute;
padding-left:250px;
padding-right:250px;
z-index:0;}

.resumeEducation p {
position:absolute;
padding-left:250px;
padding-right:250px;
z-index:0;
}

#recta {
position:relative;
z-index:1;
}

#rectb {
position:relative;
z-index:1;
}

#rectc {
position:relative;
z-index:1;
}

#rectd {
position:relative;
z-index:1;
}

#recte {
position:relative;
z-index:1;
}

#rectf {
position:relative;
z-index:1;
}


.container {
  width: 1173px;
  height: 200px;
}

.circle {
cursor:pointer;
position: relative;
top: -123px;
z-index:2;}

#circlea {
position:relative;
left: 61px;
}

#circleb {
position:relative;
left:1019px;
}

#circlec {
position:relative;
left:61px;
}

#circled {
position:relative;
left:1019px;
}

#circlee {
position:relative;
left:61px;
}

#circlef {
position:relative;
left:1019px;
}

.resumeSkills  {
height: 600px;
}

#skillsbackground {
position: absolute;
clip: rect(0, 1143px, 600px, 0);
z-index: 0;
}

#character {
z-index: 1;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #D7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.footer {
	height: 50px;
}

.footer a {
  color: #a32afa;
  font-size: 9px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.footer li {
  display: inline;
}